 /* @charset "UTF-8" */
 /* css document*/
body {
    background-repeat:norepeat;
    background-image: url(../images/cascade_mountains-bg.jpg);
    background-attachment:fixed;
    background-size:cover;
    margin: 0px;
    padding: 0px;
    }

    header,section,aside,article,footer,figure {
       display: block;
    }
 

 header {
     background-color: white;
     color: #44a5bd;
     padding-top: 25px ;
 }

 header h1 {
     margin-left: 15px ;
     font-size: 30px;
 
 }

 Header h2 {
     margin-left: 15px;
     font-size: 15px;

 }

 nav ul {
     text-align: center;
     list-style: none;
     background-color: #44e5b5;
     margin-bottom: 15px;
 }

 nav li {
     display: inline-block;
 }

 nav a  {
     padding: 9px;
     display: block;
     width: 100px;
     text-decoration: none;
     background-color: 44a5b5;
     color: white;
 }

 nav a :hover {
     background-color: white;
 }

 footer {
     color: white;
     padding: 9px;
     background-color: rgba(68, 165, 181, 0.8);
     clear:both;

 }

 footer p {
     font-size: 10px;

 }

 .container {
     width: 960px;
     background-color: rgba(255, 255, 255, 0.74);
     Margin: auto;
 }

 .content {
     padding: 10px;
     width: 630px;
     float: left;
 }

 .sidebar {
     float: left;
     width: 300px;
     background-color: rgba(255, 255, 255, .4);
     color: #44a5b5;
     padding: 4px;
 }